{% extends "blog/base.html" %}
{% load my_tags %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="card text-center">
            <div class="d-flex justify-content-center align-items-center">
            <img src="{{ article.preview | media_filter }}" class="card-img-top img-fluid" style="width: 300px; height: 300px;" alt="{{ article.title }}">
            </div>
          <div class="card-header">
              <h2>{{ article.title }}</h2>
              <p class="card-text"><small class="text-body-success"><b>Добавлено:</b> {{ article.created_at|date:"d.m.Y" }}</small></p>
          </div>
          <div class="card-body text-center" >
                <p>{{ article.content }}</p>
              <a href="{% url 'article_update' article.pk %}">
                  <button type="button" class="btn btn-lg btn-block btn-outline-secondary">Редактировать</button>
              </a>
              <a href="{% url 'article_delete' article.pk %}">
                  <button type="button" class="btn btn-lg btn-block btn-outline-danger">Удалить</button>
              </a>
          </div>
          <div class="card-footer text-body-secondary">
              Количество просмотров: {{article.views_counter}}
          </div>
        </div>
    </div>
</div>

{% endblock %}
